/MID-project.iml
/infra/modules/nlb/
/infra/dev/templates/
/infra/dev/loadbalancer.yaml
/not_in_project/ansible/container/
/not_in_project/ansible/jenkins_master/
/not_in_project/ansible/novafloss.jenkins-api/
/not_in_project/ansible/novafloss.jenkins-node/
/infra/dev/.terraform/
/infra/dev/.terraform/plugins/linux_amd64/
/elastic-stack/
/helm/
/elk-k8s/test/
/elk-k8s/
/jenkins-k8s/
/provisioning/charts/elasticsearch/
/provisioning/charts/kibana/
/monitoring/
/prometheus-k8s/
/added_mysql.patch
/provisioning/charts/filebeat/
/provisioning/charts/values-store/elk-values.yaml
/provisioning/coredns-custom.yaml
/not_in_project/jenkins/
/not_in_project/consul/
/not_in_project/MySQL/
/not_in_project/nfs/
/not_in_project/ansible/
/.circleci/
/not_in_project/
/.gitignore/
/infra/Dockerfile
/infra/Jenkins3
/infra/Jenkinsfile
/infra/Jenkinsfile2
/infra/Jenkinsfile4
/infra/Jenkinsfile5
