/MID-project.iml
/infra/modules/nlb/
/infra/dev/templates/
/infra/dev/loadbalancer.yaml
/ansible/container/
/ansible/jenkins_master/
/ansible/novafloss.jenkins-api/
/ansible/novafloss.jenkins-node/
/infra/dev/.terraform/
/infra/dev/.terraform/plugins/linux_amd64/
/elastic-stack/
/helm/
/elk-k8s/test/
/elk-k8s/
/jenkins-k8s/
/provisioning/charts/elasticsearch/
/provisioning/charts/kibana/
/elk-k8s/
/monitoring/
/prometheus-k8s/
/added_mysql.patch
/provisioning/charts/filebeat/
/provisioning/charts/values-store/elk-values.yaml
/provisioning/coredns-custom.yaml
/infra/modules/jenkins/
/infra/modules/consul/
/infra/modules/MySQL/
/infra/modules/nfs/
/ansible/
